html, body, main, .frontpage{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

h1, p, a{
    font-family: josefin-sans, sans-serif;
    color: #183152;
    text-decoration: none;
}

.logo{
    width: 40px;
    height: 31px;
}

.title{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.boka_knapp, .nav_titles{
    margin: 0;
    padding: .5rem;
}

.boka_knapp{
    background-color: #a8ca55;
    width: 80px;
    border-radius: 12px;
    margin-right: 1rem;
}

header{
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.header_leftside{
    display: flex;
    align-items: baseline;
}

.header_rightside{
    display: flex;
    flex-wrap: wrap;
}

.las_mer_knapp{
    color: #ffffff;
    background-color: #3e5d7a;
    margin: 0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.frontpic{
    width: 100%;
}

.frontpage{
    background-color: #3e5d7a;
}

.icon{
    width: 40px;
    height: 40px;
} 

footer{
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #183152;
    text-align: center;
    align-items: center;
}

.current_nav{
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

main{
    background-color: #183152;
}

hr{
    margin: 0;
    border: 6px solid #a8ca55;
}

.document{
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem;
}

.sidebar{
    padding: 1rem;
}

h2{
    margin: 0;
    font-family: josefin-sans, sans-serif;
}

h3{
    font-family: josefin-sans, sans-serif;
}

div, .not_a_div{
    padding: 5px;
    padding-right: 30px;
    border-bottom: 3px solid #183152;
    color: #ffffff;
}

div{
    background-color: #3e5d7a;
}

.infopic{
    width: 100%;
}

.current_sidebar{
    display: flex;
    justify-content: space-between;
}

.greenline{
    width: 15px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -30px;
}

.boka_box{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    text-align: center;
    color: #183152;
}

.objekt_boka1{
    background-color: #3e5d7a;
    color: #ffffff;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
}

.objektsbild_boka1{
    width: 100%;
    height: 141px;
}

.innehall{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap; 
   justify-content: center;
}



@media screen and (min-width: 800px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .mobile_version{
        display: none;
    }
    main{
        display: flex;
        flex-direction: row-reverse;
    }
    .document{
        width: 55%;
        padding: 6rem;
    }
    div, .not_a_div{
        width: 280px;
    }
    .boka_box{
        margin: 2rem;
        padding: 2rem;
    }
    .innehall{
        flex-direction: row;
    }
}