html, body, main{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

h1, p{
    font-family: josefin-sans, sans-serif;
    color: #183152;
}

.logo{
    width: 40px;
    height: 31px;
}

.title{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.boka_knapp, .nav_titles{
    margin: 0;
    padding: .5rem;
}

.boka_knapp{
    background-color: #a8ca55;
    width: 80px;
    border-radius: 12px;
    margin-right: 1rem;
}

header{
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.header_leftside{
    display: flex;
    align-items: baseline;
}

.header_rightside{
    display: flex;
    flex-wrap: wrap;
}

.las_mer_knapp{
    color: #ffffff;
    background-color: #3e5da7;
    margin: 0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.frontpic{
    width: 100%;
}

.frontpage{
    background-color: #3e5da7;
}

.icon{
    width: 40px;
    height: 40px;
} 

footer{
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #183152;
    text-align: center;
    align-items: center;
}



@media screen and (min-width: 800px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .mobile_version{
        display: none;
    }
}